<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Syncfusion AspNet CORE Packages" value="http://nuget.syncfusion.com/nuget_aspnetcore/nuget/getsyncfusionpackages/aspnetcore" />
    <add key="Syncfusion Asp.Net Mvc Packagages" value="http://nuget.syncfusion.com/nuget_aspnetmvc/nuget/getsyncfusionpackages/aspnetmvc" />
  </packageSources>
  <disabledPackageSources />
</configuration>